.xm-topbar {
  height: 40px;
  line-height: 40px;
  background-color: var(--color-black);
  .container {
    .flex-center(space-between);
    a {
      display: inline-block;
      color: #b0b0b0;
      margin-right: 15px;
      &:hover {
        color: #fff;
      }
      &.cart {
        width: 110px;
        margin-right: 0;
        background-color: var(--color-hl-text);
        color: #fff;
        text-align: center;
        .icon-cart {
          .icon-bg(16px, 12px, "~assets/img/icons/icon-cart-checked.png");
          margin-right: 4px;
        }
      }
    }
  }
}
