.ellipsis-line(@line:2) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
}

.flex-center(@h:center, @v:center) {
  display: flex;
  justify-content: @h;
  align-items: @v;
}

.icon-bg(@w, @h, @url, @size:contain) {
  display: inline-block;
  content: '';
  width: @w;
  height: @h;
  background: url(@url) no-repeat center;
  background-size: @size;
}

.divider(@top, @right, @h:10px, @w:1px, @border:solid) {
  position: absolute;
  content: '';
  top: @top;
  right: @right;
  width: @w;
  height: @h;
  border-left: 1px @border var(--color-divider);
}
