.vm-album-list {
  .album-item {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0 20px 20px;
    .album-icon {
      flex: 0 0 60px;
      width: 60px;
      padding-right: 20px;
    }
    .album-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      line-height: 20px;
      overflow: hidden;
      font-size: $font-size-medium;
      .album-name {
        margin-bottom: 10px;
        color: $color-text;
      }
      .album-title {
        color: $color-text-d;
      }
    }
  }
}
