$primary-color: #41bb83;
$primary-hl-color: #13d1be;
$primary-bg-color: #f8f8f8;
$primary-bd-color: #e5e5e5;
$link-normal-color: #999;
$link-emphasis-color: #666;
$link-dark-color: #222;

$screen-width: 1190px;
$header-top-height: 40px;
$header-main-top: 20px;

$font-size-xxs: 9px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

$search-bar-height: 160px;
$search-logo-width: 280px;
$search-wrapper-width: 552px;
$search-wrapper-padding: 15px;
$search-wrapper-margin: -20px;
$search-input-width: 462px;
$search-input-padding: 10px;
$search-button-width: 88px;

$category-container-width: 240px;
$category-container-height: 480px;
$category-detail-width: 436px;
$category-detail-height: 420px;
$category-all-height: 50px;
$category-item-padding: 15px;

$banner-slider-width: 540px;
$banner-slider-height: 240px;
$banner-item-width-sm: 150px;
$banner-item-width-md: 200px;
$banner-item-width-lg: 265px;