.vm-tabbar {
  display: flex;
  height: 44px;
  line-height: 44px;
  font-size: $font-size-medium;
  .tabbar-item {
    flex: 1;
    text-align: center;
    .tabbar-item-link {
      padding-bottom: 5px;
      color: $color-text-l;
    }
    &.router-link-active {
      .tabbar-item-link {
        color: $color-theme;
        border-bottom: 2px solid $color-theme;
      }
    }
  }
}
